$white-base: #fff;
$black-base: #000;
$brown-base: #C2996A;
$gold-base: #967852;
$brown-light: #EBE5D5;
$brown-dark: #332B29;

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@font-face {
    font-family: "Futura";
    src: local("Futura"),
     url(~assets/fonts/futura-medium.ttf) format("truetype");
}

.ls-4 {
    letter-spacing: 4px;
}

body {
    color: $brown-dark;
    font-family: "Futura";
}
.black-text {
    color: $brown-dark;
}
.fa {
    color: $gold-base;
    font-size: 18px;
}
.gold-text {
    color: $gold-base;
}
button {
    border: 0;
}

.navbar-btn {
    width: 30px;
    height: 30px;
    background: $white-base;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-line {
    position: relative;
    width: 3px;
    display: block;
    height: 3px;
    background: #332B29;
    border-radius: 50%;
    transition: 0.5s ease transform;
}

.navbar-line:before, .navbar-line:after {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    background: $brown-dark;
    border-radius: 50%;
    left: 0;
}

.navbar-line:before {
    top: -7px;
}

.navbar-line:after {
    bottom: -7px;
}
.navbar-container {
    opacity: 1;
    position: fixed;
    width: 100%;
    z-index: 9;
    transition: 0.5s ease all;
}
.play-btn-only {
    display: block;
    width: 70px;
    height: 70px;
    background-image: url('~/assets/imgs/play.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.45s ease all;

    &:hover {
        transform: scale(1.2);
    }
}

.canvas-container {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: $brown-base;
    transition: 1s ease all;
    height: 0;
    overflow: hidden;
}
.canvas-container-inner {
    height: 100vh;
    padding: 20px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navbar-container .container-fluid {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.navbar-logo {
    height: 23px;
    filter: brightness(20);
}
.active .navbar-line {
    transform: rotate(90deg);
}
.nav-link {
    color: $white-base;
    font-size: 35px;
    line-height: 1.3;
    letter-spacing: 3px;
    position: relative;
    width: fit-content;
    display: block;
    overflow: hidden;
    &:after {
        content: '';
        position: absolute;
        width: calc(100% - 2rem);
        height: 2px;
        bottom: 0;
        left: 50%;
        background-color: $white-base;
        transform: translateX(-50%) scaleX(0);
        transform-origin: left center;
        transition: 0.35s ease-out all;
    }
    &:hover {
        color: $white-base;
    }
    &:hover:after {
        transform: translateX(-50%) scaleX(1);
    }
}
.nav-link:not(:last-child) {
    margin-bottom: 20px;
}
.canvas-logo {
    width: calc(100% - 40px);
    margin: 0 auto;
    display: block;
}
.canvas-logo img {
    width: 100%;
    filter: brightness(20);
}
.canvas-open {
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}
h1 div {
    display:inline-block;
}
body {
    font-size: 18px;
}
.head-level-1 {
    font-size: 80px;
}
.head-level-2 {
    font-size: 60px;
}
.head-level-3 {
    font-size:50px;
    line-height: 1.3;
}
.head-level-4 {
    font-size: 36px;
    line-height: 1.3;
}

.sub-gold {
    color: $brown-base;
    font-size: 20px;
    letter-spacing: 4px;
}
.reveal-text {
    visibility: hidden;
}
.has-reveal-anim .btn {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.5s ease-out all;
}
.has-reveal-anim.active .btn {
    opacity: 1;
    transform: translateY(0px);
}
.line {
    position: relative;
    overflow: hidden;
    display: flex;
}
.reveal-center .line {
    justify-content: center;
}
.btn {
    background: $white-base;
    padding: 10px 30px;
    font-weight: 500;
    border-radius: 30px;
    font-size: 18px;
    letter-spacing: 3px;
    position: relative;
    overflow: hidden;
    border: 1px solid $white-base;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        background-color: $brown-dark;
        transform: translate(-50%, -50%) scaleY(0);
        transition: 0.5s ease all;
        transform-origin: bottom;
        z-index: -1;
    }
    &:hover {
        color: $white-base;
        &:before {
            filter:invert(1);
        }
        &:after {
            background-color: $brown-dark;
            transform: translate(-50%, -50%) scaleY(1);
        }
    }
}
.center-btn {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.play-btn {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
    transition: 0.25s ease all;
}

.play-btn:before {
    content: '';
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-image: url('~/assets/imgs/play.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.btn-black {
    background-color: $brown-dark;
    color: $white-base;
    border-color: $brown-dark;
}
.dark-nav .navbar-logo {
    filter: brightness(1);
}

.dark-nav.navbar-container .navbar-btn {
    background: $brown-dark;
}

.dark-nav .navbar-line, .dark-nav .navbar-line:before, .dark-nav .navbar-line:after {
    background: $white-base;
}
.navbar-container.sticky {
    background-color: $white-base;

    .navbar-logo {
        filter: brightness(1);
    }
    .navbar-btn {
        background: $brown-dark;
    }
    .navbar-line, .navbar-line:before, .navbar-line:after {
        background: $white-base;
    }
}
.swiper-button-next:before, .swiper-button-prev:before {
    content: '';
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid $gold-base;
}
.swiper-button-prev:before {
    transform: rotate(180deg);
}
.swiper-button-next:after, .swiper-button-prev:after {
    display: none;
}
.footer-container {
    background-color: $brown-light;
    padding: 90px 0;
    text-align: center;
}
.copyright-row {
    margin-top: 20px;
}
section {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.bg-img-holder, .bg-vid-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bg-vid-holder {
    object-fit: cover;
    object-position: center;
}

#home-tech h2 .line {
    &:nth-child(2), &:nth-child(3) {
    color: $brown-dark;
    }
}
.swiper-pagination-bullet {
    background-color: transparent;
    border: 1px solid $gold-base;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: $gold-base;
}
.btn-transparent {
    background-color: transparent;
    color: #fff;
}
form input, form textarea {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 14px;
    color: #000000;
    letter-spacing: 2px;
    border: 1px solid rgba(51, 43, 41, 0.31);
    border-radius: 7px;
}
form textarea {
    resize: none;
}
form input::placeholder, form textarea::placeholder {
    color: #000000;
}

form .btn {
    font-size: 14px !important;
    background-color: #332B29;
    color: #fff;
}
#stat-page-banner {
    background-color: #FDEDB4;
    padding-top: 130px;
}
#stat-page-content {
    line-height: 1.7;
    .sub-gold {
        margin-bottom: 20px;
    }
    .text-block:not(:last-child) {
        margin-bottom: 50px;
    }
    .text-block p {
        margin-bottom: 30px;
    }
}



@media only screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }
    .head-level-1 {
        font-size: 36px;
    }
    h4 {
        font-size: 18px;
    }
    .btn {
        font-size: 16px;
    }
    .head-level-2 {
        font-size: 30px;
    }
    .head-level-3 {
        font-size: 30px;
        line-height: 1.3;
    }
    .head-level-4 {
        font-size: 30px;
        line-height: 1.3;
    }
    .play-btn:before {
        width: 25px;
        height: 25px;
    }
    #home-tech {
        min-height: 80vh;
        justify-content: flex-start;
    }
    #home-tech .bg-img-holder {
        height: 130vh !important;
        background-position: 35% center;
    }
    #home-highlights .row .col-sm-4:nth-child(2), #home-highlights .row .col-sm-4:nth-child(3) {
        position: absolute;
        padding-top: 0;
    }
    .navbar-logo {
        height: 18px;
    }
    #home-highlights .bg-img-holder {
        min-width: 1000px;
        left: 0%;
        transform: translateY(-50%);
    }
    #product-showcase .col-sm-4 {
        order: 2;
    }
    #product-showcase .product-showcase-img {
        max-width: 150px !important;
        margin-left: auto !important;
    }
    #product-showcase .bg-img-holder-2 {
        transform: translate(-50%, -50%) scale(1);
        background-position: 50% 100% !important;
        background-image: url('~/assets/imgs/mobile_rays.png') !important;
    }
    #product-showcase .row .col-sm-4 {
        margin-bottom: -50px;
        margin-top: 30px;
    }
    #testimonials h4 {
        font-size: 18px !important;
    }
    #testimonials .container {
        padding-left: 25px;
        padding-right: 25px;
    }
    #testimonials .swiper-pagination {
        display: block !important;
        bottom: 0;
    }
    #testimonials .swiper-button-prev, #testimonials .swiper-button-next {
        display: none !important;
    }
    #testimonials .swiper {
        padding-bottom: 30px;
    }
    .widgets-holder .col-sm-6 {
        margin-bottom: 20px;
    }
    .footer-container .menu-title {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #D8D8D8;
        padding: 10px;
        margin-bottom: 0 !important;
    }
    .footer-container .menu-title:after {
        content: '+';
        justify-content: space-between;
    }
    .footer-container .footer-menu li {
        text-align: left;
        padding-left: 20px;
    }
    .menu-col .footer-menu {
        height: 0;
        overflow: hidden;
        transition: 0.5s ease height;
    }
    .menu-col, .widgets-holder {
        transition: 0.5s ease all;
    }
    .menu-col.expanded-menu .footer-menu {
        height: 100%;
    }
    .footer-container .menu-title.active-menu:after {
        content: '-';
    }
    .footer-container .social-icons {
        justify-content: space-between !important;
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .copyright-row {
        margin-top: 30px !important;
    }
    .copyright-row .col-sm-6:nth-child(1) {
        order: 2;
        margin-top: 20px;
    }
    .footer-container {
        padding: 60px 0 40px;
    }
    .nav-link {
        font-size: 25px;
    }
    #product-showcase .row .col-sm-4, #product-showcase .row .col-sm-6 {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }

    // Product Page
    #sticky_scroller .row {
        flex-direction: column;
    }
    #sticky_scroller {
        .col-1 {
            min-height: 300px !important;
            background-color: #ffedab;
            max-height: 370px !important;
            z-index: 10;
            top: 70px !important;
            padding-top: 30px;
        }
        .col-2 {
            width: 100% !important;
            min-width: 100% !important;
            flex: 0 0 100%;
        }
        .col-1 {
            width: 100% !important;
            min-width: 100% !important;
            flex: 0 0 100%;
            margin: 10px auto;
        }
        .reveal-text {
            opacity: 1 !important;
            visibility: visible !important;
        }
        .section1, .section2, .section3 {
            height: 70vh !important;
        }
        .words {
            transform: none !important;
        }
    }
    #product_highlight_1 {
        overflow: hidden;
        .bg-img-holder {
            background-position: 40% 90% !important;
        }
    }
    #highlight_1 .col-sm-4 {
        max-width: 50%;
    }
    #highlight_2 .col-sm-4 {
        max-width: 50%;
        margin-left: auto;
    }
    #product_highlights_1 #highlight_3 {
        align-items: stretch !important;
    }
    #highlight_3 .col-sm-4:last-child {
        display: flex;
        align-items: flex-end;
    }
    #highlight_3 .col-sm-4:first-child {
        display: flex;
        align-items: center;
    }
    #closing_highlights .col-sm-6:last-child {
        margin-top: 40px !important;
    }
    #closing_highlights .btn {
        margin-left: auto !important;
        margin-top: 15px;
    }
    #product_cta .btn:last-child {
        margin-left: auto !important;
        margin-top: 15px;
    }
    #next_product .col-sm-10 {
        max-width: 65%;
    }
    
    #next_product .col-sm-10 img {
        max-width: 100%;
    }
    
    #next_product .col-sm-2 {
        max-width: 35%;
    }
    
    #next_product .col-sm-2 .play-btn-only {
        width: 50px;
        height: 50px;
    }
    
    #next_product .row {
        align-items: flex-end !important;
    }
    #company_overview .col-sm-6 h4 {
        font-size: 22px !important;
        margin-top: 30px;
    }
    #stat-page-banner h1 .line {
        justify-content: center !important;
    }
    
    #stat-page-banner .col-sm-6 {
        text-align: center !important;
    }
}